/* General Styles */
body {
  font-family:  system-ui, Roboto, Arial, sans-serif;
  margin: 20px;
  background-color: #89B8CB;
  color: #222;
}

.form-container {
  background: #fff;
  padding: 20px 30px;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: left;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 600;
  
}

h3 {
  text-align: left;
  margin-bottom: 16px;
  font-size: 18px;
}

/* Flexbox Layout for Form Rows */
.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
  align-items: flex-start;
}

/*  Section headings (h3) in form rows to take full width */
.form-row > h3 {
  flex: 0 0 100%;
  margin: 0 0 10px;
  padding: 0;
}

/* Form Field styles */
.three-col-row {
  display: flex;
  flex: 0 0 100%;
  gap: 20px;
}

.three-col-row .one-col {
  flex: 1;
  max-width: 253px;
  min-width: 0; /* Prevents flex items from overflowing */
}

.three-col-row .two-col {
  flex: 2;
  width: 530px;
  min-width: 0; /* Prevents flex items from overflowing */
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 253px;
}

.form-field label {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 13px;
  text-transform: uppercase;
}

.form-field input[type="text"],
.form-field input[type="number"],
.form-field input[type="datetime-local"],
.form-field input[type="tel"],
.form-field input[type="location"],
.form-field select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fafafa;
  height: 34px;
  
 

  
}

/* Checkbox Group Styles */
.checkbox-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 10px 20px; /* row gap and column gap */
  margin-bottom: 0px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #fafafa;
}

.checkbox-group legend {
  grid-column: 1 / -1; /* Make legend span all columns */
  font-weight: bold;
  margin-bottom: 8px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  
  font-size: 13px;
  color: #222;
}

.checkbox-group label input[type="checkbox"] {
  margin-right: 8px;
}

/* Submit Button */
.submit-button {
  text-align: right;
  margin-top: 20px;
}

.submit-button button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  background-color: #4285F4;
  color: #fff;
  cursor: pointer;
}

.checkbox-title {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #222;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.form-section {
  margin-bottom: 40px;
}

